<h1>Student Dashboard</h1>
<table class="table table-hover">
  <caption>List of students</caption>

 <div class="row mb-3">
  <!-- Buttons Container -->
  <div class="col-auto">
    <%= link_to 'Add Student', add_student_path, data: { turbo_frame: 'modal' }, class: "btn btn-dark me-2" %>
    <%= link_to 'Add Subject', new_teacher_subject_path(current_user), data: { turbo_frame: 'modal' }, class: "btn btn-dark" %>
  </div>

  <!-- Pagination Container -->
  <div class="col d-flex justify-content-end">
    <div class="pagination">
      <%= render partial: 'shared/pagination', locals: { students: @students } %>
    </div>
  </div>
</div>


  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Marks</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @students.each do |student| %>
    <% student.marks.each do |mark| %>
      <tbody id='student'>
        <%= render partial: 'row', locals: { student: student, mark: mark } %>
      </tbody>
    <% end %>
  <% end %>
</table>
