.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: 10px auto;
}

.modal-open .main-content {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
